.Framework
{
    border: 1px solid #cecece;
    width: 200px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 10px 10px 10px;
    direction: rtl;
    height: 128px;
}

input 
{
    margin-bottom: 0.5em;
}

input:last-child
{
    margin-bottom: 0;
}

input[type="text"], input[type="password"]
{
    padding-right: 0.2em;
}

.stage2
{
    display: none;
}

.subframework
{
    width: 100%;
    display: table;
    margin-bottom: 5px;
}

.dot
{
    width: 10px;
    float: right;
    background-color: black;
    margin-left: 9px;
}